<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>廉家|发布房源</title>
  <link rel="stylesheet" href="css/public/bootstrap.min.css">
  <link rel="stylesheet" href="css/public/font-awesome.min.css">
  <script src="js/public/jquery-1.11.0.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/public/swiper.min.css">
  <link rel="stylesheet" href="css/public/lightbox.min.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="css/login_register.css">
  <link rel="stylesheet" href="css/search/shop-style.css">
  <link rel="stylesheet" href="css/public/jquery-ui.min.css">
  <link rel="stylesheet" href="css/search/style.css">
  <link rel="stylesheet" href="css/search/responsive.css">
  <link rel="stylesheet" href="css/search/theme-color-1.css">
  <link rel="stylesheet" href="css/search/custom.css">
  <link rel="stylesheet" href="css/public/element-ui.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="js/search.js"></script>
  <script src="js/wanted.js"></script>
  <script type="text/javascript" src="js/public.js"></script>
  <script src="plugins/waypoints/sticky.min.js"></script>
  <script src="plugins/swiper/swiper.min.js"></script>
  <script src="plugins/parsley/parsley.min.js"></script>
</head>

<body >
  <header class="header">
    <div class="main-header light-bg">
      <div class="container" style="padding-right：0px">
        <div class="row align-items-center">
          <div class="col-xl-4 col-lg- col-md-4 col-sm-5 col-7">
            <div class="logo" data-animate="fadeInUp" data-delay=".65">
              <a id="add7" onclick="link('7')" href="index.html">
                <img src="images/logo.png" width="150" height="20" alt="LianHouse">
              </a>
            </div>
          </div>
          <div class="col-xl-7 col-lg-8 col-md-4 col-sm-2 col-2">
            <div class="menu--inner-area clear-fix">
              <div class="menu-wraper">
                <nav data-animate="fadeInUp" data-delay=".8">
                  <div class="header-menu pt-sans">
                    <ul>

                      <li ><a id="add1" onclick="link('1')" href="index.html">首页</a></li>
                      <li  id="li2" style="display:inline;"><a id="add2" onclick="link('2');" href="rent.html">委托租房</a></li>
                      <li class="active" id="li3" style="display:inline;"><a id="add3" onclick="link('4');" href="public.html">租房广场</a></li>
                      <li id="li1" style="display:inline;">
                        <a href="#">我的账户 <i class="fa fa-caret-down"></i></a>
                        <ul>
                          <li><a id="add4" onclick="link('4');" href="profile/index.html">个人信息</a></li>
                          <li><a href="index.html?user_login=0">退出登陆</a></li>
                        </ul>
                      </li>

                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="slider">
    <div class="main-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide position-relative">
          <img src="images/slide2.jpg" data-rjs="2" alt="Slider Img">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-8">
                <div class="slide-content">
                  <h1 data-animate="fadeInUp" data-delay=".3"><br><strong>廉家租房</strong> </h1>
                  <p data-animate="fadeInUp" data-delay=".5">海量优质房源为您保驾护航</p>
                  <br />
                  <button class="btn" data-toggle="modal" data-target="#myModal" data-animate="fadeInUp" data-delay=".7"><font color="#fff">我要求租</font></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 模态框（Modal） -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">寻求房源</h4>
        </div>
        <div class="modal-body" id="app">
          <el-form ref="form" :model="form" label-width="80px">
            <el-form-item  label="房源位置">
              <el-select id="city" v-model="form.region1" placeholder="请选择区域">
                <el-option label="北京" value="0"></el-option>
                <el-option label="上海" value="1"></el-option>
                <el-option label="广州" value="2"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item  label="小区名称">
              <el-col :span="15">
                <el-input id="community" v-model="form.name2" placeholder="请填写小区"></el-input>
              </el-col>
            </el-form-item>

            <el-form-item  label="房屋类型">
              <el-select id="house_type" v-model="form.region2" placeholder="请选择类型">
                <el-option label="一居" value="0"></el-option>
                <el-option label="二居" value="1"></el-option>
                <el-option label="三居及以上" value="2"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item  label="楼层">
              <el-col :span="15">
                <el-input id="floor" placeholder="请填写楼层"  ></el-input>
              </el-col>
            </el-form-item>

            <el-form-item  label="押金方式">
              <el-col :span="15">
                <el-input id="cash_pledge" placeholder="请填写押金方式（N个月）"  ></el-input>
              </el-col>
            </el-form-item>

            <el-form-item  label="电梯情况">
              <el-select id="elevator" v-model="form.region3" placeholder="请描述电梯情况">
                <el-option label="无" value="0"></el-option>
                <el-option label="有" value="1"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item  label="支付方式">
              <el-select id="pay_method"  v-model="form.region4" placeholder="请选择方式">
                <el-option label="月" value="0"></el-option>
                <el-option label="季" value="1"></el-option>
                <el-option label="年" value="2"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="租金">
              <el-col :span="15">
                <el-input id="rent_money" placeholder="单位：元"  ></el-input>
              </el-col>
            </el-form-item>


            <el-form-item label="房屋描述">
              <el-input id="house_description" type="textarea" v-model="form.desc"></el-input>
            </el-form-item>


            <el-form-item>
              <el-button id="wanted" type="primary">确认</el-button>
            </el-form-item>

          </el-form>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>



  <section class="primary-bg pt-55 pb-55" style="background-color: #B4D4BA;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="cuntry-group">
            <label for="country" class="h4 font-weight-bold"><font color="#000">选择所在城市</font></label>
            <select class="theme-input-style" id="city1">
              <option data-display="请选择" value="-1"><font color="#C4C4C4">请选择</font></option>
              <option value="0">北京</option>
              <option value="1">上海</option>
              <option value="2">广州</option>
            </select>
          </div>
          <br />
          <div class="cuntry-group">
            <label for="country" class="h4 font-weight-bold"><font color="#000">选择支付方式</font></label>
            <select class="theme-input-style" id="pay_method1">
              <option data-display="请选择" value="-1"><font color="#C4C4C4">请选择</font></option>
              <option value="0">月</option>
              <option value="1">季</option>
              <option value="2">年</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3">
          <label for="first-name" class="h4 font-weight-bold"><font color="#000">小区信息</font></label>
          <input type="text" id="community1" class="theme-input-style" placeholder="输入小区名称">
          <br /><br />
          <div class="cuntry-group">
            <label for="country" class="h4 font-weight-bold"><font color="#000">选择房屋类型</font></label>
            <select class="theme-input-style" id="house_type1">
              <option data-display="请选择" value="-1"><font color="#C4C4C4">请选择</font></option>
              <option value="0">一居</option>
              <option value="1">二居</option>
              <option value="2">三居及以上</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3">
          <label for="first-name" class="h4 font-weight-bold"><font color="#000">楼层信息</font></label>
          <input type="text" id="floor1" class="theme-input-style" placeholder="输入楼层" required>
          <br /><br />
          <div class="cuntry-group">
            <label for="country" class="h4 font-weight-bold"><font color="#000">电梯情况</font></label>
            <select class="theme-input-style" id="elevator1">
              <option data-display="请选择" value="-1"><font color="#C4C4C4">请选择</font></option>
              <option value="1">有</option>
              <option value="0">无</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="cuntry-group">
            <label for="country" class="h4 font-weight-bold"><font color="#000">租金范围</font></label>
            <select class="theme-input-style" id="rent_money1">
              <option data-display="请选择" value="-1"><font color="#C4C4C4">请选择</font></option>
              <option value="0">1000以下</option>
              <option value="1">1000~2000</option>
              <option value="2">2000~3000</option>
              <option value="3">3000以上</option>
            </select>
          </div>
          <br />
          <label for="first-name" class="h4 font-weight-bold"><font color="#000">&nbsp</font></label>
          <button style="background:red" class="btn btn-block" data-animate="fadeInUp" id="search">点击查询</button>
        </div>
      </div>
    </div>
  </section>


  <section class="pt-120 pb-120 default-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
          <!-- Start Section Title -->
          <div class="section-title text-center" data-animate="fadeInUp">
            <span>廉家|精心挑选</span>
            <h1>推荐优质房源</h1>
            <p>欢迎入住</p>
          </div>
          <!-- End of Section Title -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- News carousel -->
          <div class="swiper-container-wrap" data-animate="fadeInUp" data-delay=".3">
            <div class="news-carousel swiper-container">
              <div id = "best_house" class="swiper-wrapper">

   
            </div>
            <div class="swiper-pagination news-pagination slider-pagination-style"></div>
          </div>
        </div>
      </div>
    </section>


    <div class="bottom-footer light-bg" style="text-align:center;">
      <div class="copyright text-center" style="text-align:center;">
        <p class="m-0 pt-sans"><a id="add6" onclick="link('6')" href="index.html">LianHouse</a> &copy; Copyright 2018 . All Rights Reserved.</p>
      </div>
    </div>


  </body>

  <script src="js/public/bootstrap.bundle.min.js"></script>
  <script src="js/public/jquery.waypoints.min.js"></script>
  <script src="js/public/lightbox.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/public/sticky.min.js"></script>
  <script src="js/public/menu.min.js"></script>

  <script>
    function getQueryVariable(variable)
    {
     var query = window.location.search.substring(1);
     var vars = query.split("&");
     for (var i=0;i<vars.length;i++) {
       var pair = vars[i].split("=");
       if(pair[0] == variable){return pair[1];}
     }
     return(false);
   }
   function link(idx) {
    var id = getQueryVariable("user_id");
    old_href = document.getElementById("add"+idx).href;
    old_href = old_href + "?user_login=1&user_id=" + id;
    document.getElementById("add"+idx).href = old_href;
  }
  window.onload = function()
  {
    var current_url = location.href;
    var user_status = getQueryVariable("user_login")

    if (user_status != "1") {
      location.href="404.html";
    }
  }
</script>



<script>
  new Vue({
    el:'#app',
    data() {
      return {
        form: {
          name1: '',
          name2: '',
          name3: '',
          name4: '',
          name5: '',
          name6: '',
          name7: '',
          region1: '',
          region2: '',
          region3: '',
          region4: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource1: '',
          resource2: '',
          resource3: '',
          desc: ''
        }

      }
    },

  })
</script>

</html>